<!-- Copyright ==================================================================== -->
<footer id="copyright" class="copyright-section white-section"
        style="background-color: rgb(243, 243, 243);">

    <!-- Section Container -->
    <div class="section-container">

        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <!-- Copyright Block -->
                <div class="col-md-12 copyright-block">
                    <!-- Copyright Block Container -->
                    <div class="copyright-block-container text-center">

                        <!-- Title -->
                        <p>© 2018 PIKOBYTES, all rights reserved. | <a
                                href="impressum.html"
                                title="Impressum">IMPRESSUM</a>
                            | <a href="privacy.html" title="Datenschutz">DATENSCHUTZ</a>
                        </p>

                    </div><!-- /End Copyright Block Container -->
                </div><!-- /End Copyright Block -->

            </div>
        </div><!-- /End container -->

    </div><!-- /End Section Container -->

</footer><!-- /End Copyright -->




