/* Smart rain specific styles */
.team-block-container .image-block img {
    border: none;
    border-radius: unset;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

@media (max-width: 500px){
    .navbar-brand {
        width: 150px;
    }

    .hero {
        margin-top: 90px;
    }

    .impressum h1, .impressum h2, .hero__title {
        word-break: break-word;
    }
}

/* Styling for adjust width of the image on the main page with the device size */
.image-center-container { text-align: center; }
.image-center-container .post-media { width: 60%; }
.image-center-container .post-footer { width: 60%; display: inline-block; }
@media (max-width: 992px) {
    .image-center-container { text-align: inherit; }
    .image-center-container .post-media { width: 100%; }
    .image-center-container .post-footer { width: 100%; display: block; }
}

.phrase-text-align { text-align: justify; }
@media (max-width: 767px) {
    .phrase-text-align { text-align: left; }
}